body {
  font-size: 14px;
}

body img {
  width: 100%;
}

body p {
  color: #aaa;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.card-cont {
  display: flex;
  justify-content: space-between;
}

.card-cont .card {
  width: 32%;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

